---
title: "Web Wide Matrix"
layout: splash
permalink: /
date: 2016-11-28T06:00:00-00:00
header:
  overlay_color: "#000"
  overlay_filter: 0.5
  #overlay_filter: rgba(0, 255, 150, 0.5)
  overlay_image: /assets/images/unsplash-mountain.jpg
  cta_label: "Learn more"
  cta_url: "#about_text"
  caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
excerpt: "Information overload can't be fixed in the current interface of the Web. We need a whole new medium, so that *we'll* consume all of the information, instead of *it* consuming all of our time."
intro:
  - excerpt: "The Web Wide Matrix is an open-source initiative to build a consumption layer over the web. Its standard infrastructure & ecosystem will provide an **Organized Space** interface to any **Assorted Feed** arriving from the Web."
feature_row:
  - image_path: /assets/images/screenshot1.png
    alt: "Matrix Browser"
    title: "Matrix Browser"
    excerpt: "A 3D VR app to browse thru organized spaces"
  - image_path: /assets/images/matrix-cloud.png
    alt: "Matrix Cloud"
    title: "Matrix Cloud"
    excerpt: "A composite storage layer modelled after spatial 3D environment"
  - image_path: /assets/images/matrix-hovercraft.png
    alt: "Matrix Hovercraft"
    title: "Matrix Hovercraft"
    excerpt: "A personal software container for converting content feeds into organized spaces"
feature_row2:
  - image_path: /assets/images/twitter-feed-multi-column.png
    alt: "twitter feed"
    title: "Each day you receive thousands of content items from feeds you subscribe to."
    excerpt: 'You go over them one by one, waiting for the ones you want to read.'
    #url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
feature_row3:
  - image_path: /assets/images/baggage-carousel-with-content.jpg
    alt: "baggage carousel"
    title: "That's just fine if you have all the time in the world"
    excerpt: "& just looking for some entertainment, totally not caring that some hidden item in your feeds contains information that could change your life."
    #url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
feature_row4:
  - image_path: /assets/images/supermarket.jpg
    alt: "supermarket"
    title: "What if you could browse through your feeds just like you walk thru your supermarket?"
    excerpt: 'allowing you to find & discover the information you want in a snap, without missing anything?'
    #url: "#test-link"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---




{% include feature_row id="feature_row2" type="right" %}

{% include feature_row id="feature_row3" type="left" %}

{% include feature_row id="feature_row4" type="right" %}


<a name="about_text" width="270px"/>
{% include feature_row id="intro" type="center" %}


<h2>The problem</h2>
{% include youtube.html id="-lwkoSfXUGs" %}

<br><hr>

<h2>The Matrix Medium</h2>
{% include youtube.html id="nl1YBWmwOTM" %}

<br><hr>

<div align="center">Current active projects:</div>
<br/>

{% include feature_row %}

<a href="/developers">More info in the developers section</a>.

<br><hr>

<!--<form action="https://formspree.io/dibaunaumh@gmail.com"-->
      <!--method="POST">-->
  <!--<div><input id="email" size="32" type="email" placeholder="Your email" name="_replyto"><input type="submit" value="Sign-up for the beta program"></div>-->
<!--</form>-->